---
import BootstrapLayout from "../../layouts/BootstrapLayout.astro";

export function getStaticPaths() {
  return [{ params: { id: 25 } } ];
}

const { id } = Astro.params;
const response = await fetch(`https://pokeapi.co/api/v2/pokemon/${id}`);
const data = await response.json();
---

<BootstrapLayout title={id}>
  <div class="card my-4">
    <div class="card-header">{id}: {data.name}</div>
    <div class="card-body"><img src={data.sprites.front_default} alt=""></div>
  </div>
</BootstrapLayout>
